<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Title -->
<title>About - Sahayta Foundation̥</title>
<!-- Bootstrap css -->
<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
<!-- animate css -->
<link rel="stylesheet" href="../assets/css/animate.min.css" />
<!-- Fontawesome css -->
<link rel="stylesheet" href="../assets/css/fontawesome.all.min.css" />
<!-- owl.carousel css -->
<link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
<!-- owl.theme.default css -->
<link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />
<!-- Magnific popup css -->
<link rel="stylesheet" href="../assets/css/magnific-popup.min.css" />
<!-- navber css -->
<link rel="stylesheet" href="../assets/css/navber.css" />
<!-- meanmenu css -->
<link rel="stylesheet" href="../assets/css/meanmenu.css" />
<!-- Style css -->
<link rel="stylesheet" href="../assets/css/style.css" />
<!-- Responsive css -->
<link rel="stylesheet" href="../assets/css/responsive.css" />
<!-- Favicon -->
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>

<body>
	<!-- Preloader Area -->
	<div class="preloader">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="lds-spinner">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Header Area -->




	<div id="header-placeholder"></div>



	<!-- /Header Area -->



	<!-- search -->
	<div class="search-overlay">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-layer"></div>
				<div class="search-overlay-close">
					<span class="search-overlay-close-line"></span> <span
						class="search-overlay-close-line"></span>
				</div>
				<div class="search-overlay-form">
					<form>
						<input type="text" class="input-search"
							placeholder="Search here...">
						<button type="button">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner Area -->
	<section id="common_banner_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="commn_banner_page">
						<h2>
							<span class="color_big_heading">About</span> us
						</h2>
						<ul class="breadcrumb_wrapper">
							<li class="breadcrumb_item"><a href="index.jsp">Home</a></li>
							<li class="breadcrumb_item"><img
								src="../assets/img/icon/arrow.png" alt="img"></li>
							<li class="breadcrumb_item active">About us</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Area -->
	<section id="about_area" class="section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="about_area_img">
						<img src="../assets/img/common/about.png" alt="img">
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="about_area_main_text">
						<div class="about_area_heading">
							<img src="../assets/img/icon/about.png" alt="img">
							<h3>Welcome to Sahayta Foundation̥</h3>
						</div>
						<div class="about_area_heading_two">
							<h2>
								A world where <span class="color_big_heading">poverty</span> <br>
								will not exists
							</h2>
							<h3>We are the largest crowdfunding</h3>
						</div>
						<div class="about_area_para">
							<h5>platform committed to making a difference. Your support
								helps us provide essential resources and opportunities for those
								in need.</h5>
							<p>Together, we can create lasting change and ensure that
								every individual has the chance to thrive.</p>
							<p>Join us in this noble cause, and be a part of a movement
								that uplifts lives. Your contributions empower communities and
								help us build a brighter future for all.</p>
						</div>
						<div class="about_vedio_area">
							<a href="about.html" class="btn btn_theme btn_md">Learn more</a>
							<!-- <a href="https://vimeo.com/45830194" class="vedio_btn popup-vimeo"><i
                                    class="fa fa-play"></i>How we work</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- volunteer Area -->
	<section id="volunteer_area"
		class="section_after section_padding bg-color">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
					<div class="section_heading">
						<h3>Ready to help</h3>
						<h2>
							We have thousands of happy volunteer to <span
								class="color_big_heading">help</span> you
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="volunteer_wrapper">
						<div class="volunteer_img">
							<img src="../assets/img/Team/Team-abu.png" alt="img">
							<div class="volunteer_icon">
								<ul>
									<li><a href="#!"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter-square"></i></a>
									</li>
									<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="volunteer_text">
							<h3>
								<a href="#!">Abu Huraira</a>
							</h3>
							<p>Project manager</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="volunteer_wrapper">
						<div class="volunteer_img">
							<img src="../assets/img/Team/Team-ankur.png" alt="img">
							<div class="volunteer_icon">
								<ul>
									<li><a href="#!"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter-square"></i></a>
									</li>
									<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="volunteer_text">
							<h3>
								<a href="#!">Ankur Upadhyay</a>
							</h3>
							<p>Front-end Developer</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="volunteer_wrapper">
						<div class="volunteer_img">
							<img src="../assets/img/Team/Tean-dhiraj.jpg" alt="img">
							<div class="volunteer_icon">
								<ul>
									<li><a href="#!"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter-square"></i></a>
									</li>
									<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="volunteer_text">
							<h3>
								<a href="#!">Dhiraj Tiwari</a>
							</h3>
							<p>Database Manager</p>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="volunteer_wrapper">
						<div class="volunteer_img">
							<img src="../assets/img/Team/Team-neha.jpg" alt="img">
							<div class="volunteer_icon">
								<ul>
									<li><a href="#!"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter-square"></i></a>
									</li>
									<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="volunteer_text">
							<h3>
								<a href="#!">Neha Sharma</a>
							</h3>
							<p>Front-end Developer</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="volunteer_wrapper">
						<div class="volunteer_img">
							<img src="../assets/img/Team/Team-moupiya.png" alt="img">
							<div class="volunteer_icon">
								<ul>
									<li><a href="#!"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#!"><i class="fab fa-twitter-square"></i></a>
									</li>
									<li><a href="#!"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="volunteer_text">
							<h3>
								<a href="#!">Moupiya Roy</a>
							</h3>
							<p>Back-end Developer</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Partner Area -->
	<!--     <section id="partner_area-2" class="section_padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="partner_slider_wrapper owl-theme owl-carousel">
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-1.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-2.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-3.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-4.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-5.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-6.png" alt="img"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="../assets/img/partner/logo-7.png" alt="img"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

	<!-- newsletter Events Area -->
	<!--     <section id="newletter_banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newletter_text">
                        <h4><img src="../assets/img/icon/about.png" alt="img"> Join the community</h4>
                        <h2>Let’s make a bold move to bring
                            the <span class="color_big_heading">difference</span> of others live</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newletter_button">
                        <a href="volunter.html" class="btn news_btn btn_theme">Become a volunteer</a>
                    </div>
                </div>
            </div>
        </div>

    </section> -->

	<!-- testimonial Area -->
	<section id="testimonial_area" class="section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
					<div class="section_heading">
						<h3>Why partner with us?</h3>
						<h2>
							What our valuable <span class="color_big_heading">partner</span>
							think about us
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div
						class="testimonial_slider_wrapper owl-theme owl-carousel slider_dots">
						<div class="testimonial_wrapper_boxed">
							<img src="../assets/img/review images/Review img 1.png" alt="img">
							<p>Partnering with this organization has been a game-changer.
								Their commitment to quality and innovation is unmatched. I've
								seen impressive growth in the projects I've been a part of.</p>
							<div class="test_author">
								<img src="../assets/img/common/quot.png" alt="img">
								<h4>Saima</h4>
								<!-- <h5>Investor</h5> -->
							</div>
						</div>
						<div class="testimonial_wrapper_boxed">
							<img src="../assets/img/review images/Review img 2.png" alt="img">
							<p>The professionalism and dedication of the team are what
								stood out the most. They truly value their partners and go above
								and beyond to ensure mutual success.</p>
							<div class="test_author">
								<img src="../assets/img/common/quot.png" alt="img">
								<h4>Jeet</h4>
								<!-- <h5>Investor</h5> -->
							</div>
						</div>
						<div class="testimonial_wrapper_boxed">
							<img src="../assets/img/review images/Review img 3.png" alt="img">
							<p>Working with them has been an exceptional experience.
								Their attention to detail and focus on delivering results makes
								them a reliable partner in any venture.</p>
							<div class="test_author">
								<img src="../assets/img/common/quot.png" alt="img">
								<h4>Rimi</h4>
								<!-- <h5>Investor</h5> -->
							</div>
						</div>
						<div class="testimonial_wrapper_boxed">
							<img src="../assets/img/review images/Review img 4.png" alt="img">
							<p>Their ability to execute projects flawlessly while
								maintaining excellent communication with partners is truly
								commendable. Highly recommended for long-term collaborations.</p>
							<div class="test_author">
								<img src="../assets/img/common/quot.png" alt="img">
								<h4>Neel</h4>
								<!-- <h5>Investor</h5> -->
							</div>
						</div>
						<div class="testimonial_wrapper_boxed">
							<img src="../assets/img/review images/Review img 5.png" alt="img">
							<p>I have never worked with a more dedicated team. Their
								focus on innovation and customer satisfaction is impressive.
								Looking forward to many more years of partnership.</p>
							<div class="test_author">
								<img src="../assets/img/common/quot.png" alt="img">
								<h4>Raima</h4>
								<!-- <h5>Investor</h5> -->
							</div>
						</div>
						<!-- <div class="testimonial_wrapper_boxed">
                            <img src="../assets/img/testimonial/test-1.png" alt="img">
                            <p>They've consistently exceeded our expectations, both in 
                            terms of quality and timeliness. It's rare to find a partner
                             that shares the same values and commitment.</p>
                            <div class="test_author">
                                <img src="../assets/img/common/quot.png" alt="img">
                                <h4>Adam brown</h4>
                                <h5>Investor</h5>
                            </div>
                        </div> -->
						<!-- <div class="testimonial_wrapper_boxed">
                            <img src="../assets/img/testimonial/test-1.png" alt="img">
                            <p>Our partnership has been marked by incredible synergy. Their 
                            ability to adapt and innovate in a fast-changing market has contributed 
                            greatly to our success.</p>
                            <div class="test_author">
                                <img src="../assets/img/common/quot.png" alt="img">
                                <h4>Adam brown</h4>
                                <h5>Investor</h5>
                            </div>
                        </div> -->
						<!-- <div class="testimonial_wrapper_boxed">
                            <img src="../assets/img/testimonial/test-1.png" alt="img">
                            <p>A highly professional and driven team that delivers on 
                            their promises. Our collaboration has been extremely fruitful, 
                            and I appreciate their transparency and hard work.</p>
                            <div class="test_author">
                                <img src="../assets/img/common/quot.png" alt="img">
                                <h4>Adam brown</h4>
                                <h5>Investor</h5>
                            </div>
                        </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Footer -->



	<!-- Footer Area -->



	<div id="footer-placeholder"></div>





	<!-- /Footer Area -->






	<!-- Top To Bottom Area -->
	<div class="go-top">
		<i class="fas fa-chevron-up"></i> <i class="fas fa-chevron-up"></i>
	</div>

	<script src="../assets/js/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="../assets/js/bootstrap.bundle.js"></script>
	<!-- Meanu js -->
	<script src="../assets/js/jquery.meanmenu.js"></script>
	<!-- owl carousel js -->
	<script src="../assets/js/owl.carousel.min.js"></script>
	<!-- wow.js -->
	<script src="../assets/js/wow.min.js"></script>
	<!-- Magnific Popup js -->
	<script src="../assets/js/jquery.magnific-popup.min.js"></script>
	<!-- waypoints.js -->
	<script src="../assets/js/waypoints.min.js"></script>
	<!-- counterup.js -->
	<script src="../assets/js/jquery.counterup.min.js"></script>
	<!-- Custom js -->
	<script src="../assets/js/custom.js"></script>
	<script src="../assets/js/video.js"></script>




	<script>
    // Load header from the shared folder
    fetch('../shared/header.jsp')
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);

    // Load footer from the shared folder
    fetch('../shared/footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
</script>




</body>

</html>