<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Events Details - Sahayta Foundation </title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="../assets/css/fontawesome.all.min.css" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />
    <!-- navber css -->
    <link rel="stylesheet" href="../assets/css/navber.css" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="../assets/css/meanmenu.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>

<body>
    <!-- Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area -->




        <div id="header-placeholder"></div>



<!-- /Header Area -->

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner Area -->
    <section id="common_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="commn_banner_page">
                        <h2>Event <span class="color_big_heading"> details</span></h2>
                        <ul class="breadcrumb_wrapper">
                            <li class="breadcrumb_item"><a href="index.jsp">Home</a></li>
                            <li class="breadcrumb_item"><img src="../assets/img/icon/arrow.png" alt="img"></li>
                            <li class="breadcrumb_item"><a href="causes.html">Events</a></li>
                            <li class="breadcrumb_item"><img src="../assets/img/icon/arrow.png" alt="img"></li>
                            <li class="breadcrumb_item active">Event details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Event details Area -->
    <section id="trending_causes_main" class="section_padding">
        <div class="container">
            <div class="row" id="counter">
                <div class="col-lg-8">
                    <div class="details_wrapper_area">
                        <div class="details_big_img">
                            <img src="../assets/img/event/event1.jpg.avif" alt="img">
                        </div>
                        <div class="details_text_wrapper">
                            <a href="events.html" class="tags_noted">#FoodCamp</a>
                            <h2>Healthy food and nutritions awreness campaign.</h2>
                            <p>
                               To educate children about the importance of healthy eating habits and the benefits of nutritious foods. 
                               We believe that by fostering a love for wholesome meals, we can empower them 
                               to make informed choices for a lifetime of well-being.
                            </p>
                            <p>
                                Join us for a day of fun, learning, and delicious food! Our Healthy Food and 
                                Nutrition Awareness Campaign will offer a variety of activities for children
                                 and families alike. Learn about the benefits of healthy eating, discover new recipes, 
                                 and participate in interactive games. Together, we can create a healthier future for our 
                                 communities.
                            </p>
                            <h3>We want to ensure healthy and nutritions food for the kids.</h3>
                            <p>
                                We are committed to providing healthy and nutritious food options 
                                for children. We believe that access to wholesome meals is essential
                                 for their growth, development, and overall well-being. Our goal is
                                  to educate children about the importance of good nutrition and empower 
                                  them to make informed choices about their food.
                            </p>
                            <ul>
                                <li><i class="fas fa-circle"></i> Cooking demonstrations: Learn how to prepare delicious and nutritious meals with expert chefs.</li>
                                <li><i class="fas fa-circle"></i> Nutrition education: Discover the secrets of a balanced diet and the importance of essential nutrients.
                                </li>
                                <li><i class="fas fa-circle"></i> Fun activities: Participate in interactive games and activities that promote healthy eating habits.</li>
                                <li><i class="fas fa-circle"></i> Parent workshops: Gain valuable tips on meal planning, grocery shopping, and creating healthy family meals.</li>
                            </ul>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="details_small_img">
                                        <img src="../assets/img/causes/poorkids.avif" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="details_small_img">
                                        <img src="../assets/img/causes/poorkids2.jpg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <!-- <p>
                                Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are many
                                variations of passages of Lorem Ipsum available, but the majority have alteration in
                                some injected or words which don't look even slightly believable.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar_first">
                        <!-- Project Organizer -->
                        <div class="sidebar_boxed">
                            <div class="sidebar_heading_main">
                                <h3>Event details</h3>
                            </div>
                            <div class="event_details_list">
                                <ul>
                                    <li><img src="../assets/img/icon/tag.png" alt="icon"> Category: <span>Food and
                                            nutrition</span>
                                    </li>
                                    <li><img src="../assets/img/icon/map.png" alt="icon"> Location: <span>Park Street, 700019</span></li>
                                    <li><img src="../assets/img/icon/cal.png" alt="icon"> Date: <span>20 Jan, 2025</span>
                                    </li>
                                    <li><img src="../assets/img/icon/email.png" alt="icon"> Mail:
                                        <span>abuhurairas@gmail.com</span>
                                    </li>
                                    <li><img src="../assets/img/icon/phone.png" alt="icon"> Phone: <span>+91 70034 903163
                                            </span>
                                    </li>
                                </ul>
                                <div class="register_now_details">
                                    <a href="registration.jsp" class="btn btn_theme btn_md w-100">Register now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Donet -->
                        <!-- <div class="project_recentdonet_wrapper sidebar_boxed">
                            <div class="sidebar_heading_main">
                                <h3>Event organizer</h3>
                            </div>
                            <div class="recent_donet_item">
                                <div class="recent_donet_img">
                                    <a href="cause-details.html"><img src="../assets/img/sidebar/user.png"
                                            alt="img"></a>
                                </div>
                                <div class="recent_donet_text">
                                    <div class="sidebar_inner_heading">
                                        <h4><a href="cause-details.html">Abu Huraira</a></h4>
                                    </div>
                                    <p>Managing director</p>
                                    <h6>Care NGO ltd.</h6>
                                </div>
                            </div>
                            <div class="recent_donet_item">
                                <div class="recent_donet_img">
                                    <a href="cause-details.html"><img src="../assets/img/sidebar/user.png"
                                            alt="img"></a>
                                </div>
                                <div class="recent_donet_text">
                                    <div class="sidebar_inner_heading">
                                        <h4><a href="cause-details.html">Saima Ahmed</a></h4>
                                    </div>
                                    <p>Entrepreneur</p>
                                    <h6>Own business</h6>
                                </div>
                            </div>
                            <div class="recent_donet_item">
                                <div class="recent_donet_img">
                                    <a href="cause-details.html"><img src="../assets/img/sidebar/user.png"
                                            alt="img"></a>
                                </div>
                                <div class="recent_donet_text">
                                    <div class="sidebar_inner_heading">
                                        <h4><a href="cause-details.html">David jovan</a></h4>
                                    </div>
                                    <p>Manager</p>
                                    <h6>ABC Company</h6>
                                </div>
                            </div> 
                        </div> -->
                        <!-- Map Causes -->
                        <!-- <div class="share_causes_wrapper sidebar_boxed">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.6676207113073!2d88.34882637464398!3d22.554120433648684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276e7479c7cad%3A0x2ce399323c653f92!2sPark%20St%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1728667218980!5m2!1sen!2sin"
                                height="350" style="border:0;width: 100%;"></iframe>
                        </div> -->
                        <!-- share Causes -->
                        <div class="share_causes_wrapper sidebar_boxed">
                            <div class="sidebar_heading_main">
                                <h3>Share causes</h3>
                            </div>
                            <div class="social_icon_sidebar">
                                <ul>
                                    <li><a href="#!"><img src="../assets/img/icon/facebook.png" alt="icon"></a></li>
                                    <li><a href="#!"><img src="../assets/img/icon/instagram.png" alt="icon"></a></li>
                                    <li><a href="#!"><img src="../assets/img/icon/twitter.png" alt="icon"></a></li>
                                    <li><a href="#!"><img src="../assets/img/icon/linkedin.png" alt="icon"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->



        <div id="footer-placeholder"></div>





    <!-- /Footer Area -->



    <!-- Top To Bottom Area -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <!-- Meanu js -->
    <script src="../assets/js/jquery.meanmenu.js"></script>
    <!-- owl carousel js -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <!-- wow.js -->
    <script src="../assets/js/wow.min.js"></script>
    <!-- waypoints.js -->
    <script src="../assets/js/waypoints.min.js"></script>
    <!-- counterup.js -->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <!-- Custom js -->
    <script src="../assets/js/custom.js"></script>



<script>
    // Load header from the shared folder
    fetch('../shared/header.jsp')
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);

    // Load footer from the shared folder
    fetch('../shared/footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
</script>



</body>

</html>