<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Faqs - Sahayta FoundationŌ̥ </title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="../assets/css/fontawesome.all.min.css" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />
    <!-- navber css -->
    <link rel="stylesheet" href="../assets/css/navber.css" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="../assets/css/meanmenu.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>

<body>
    <!-- Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area -->




        <div id="header-placeholder"></div>



<!-- /Header Area -->

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner Area -->
    <section id="common_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="commn_banner_page">
                        <h2><span class="color_big_heading">Faq</span></h2>
                        <ul class="breadcrumb_wrapper">
                            <li class="breadcrumb_item"><a href="index.jsp">Home</a></li>
                            <li class="breadcrumb_item"><img src="../assets/img/icon/arrow.png" alt="img"></li>
                            <li class="breadcrumb_item active">Faq</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Faqs Area -->
    <section id="faqs_arae_top" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="section_heading">
                        <h3>Faq</h3>
                        <h2>Ask your any <span class="color_big_heading">question</span> and get the answer</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="about_top_boxed bg_one">
                        <div class="about_top_boxed_icon">
                            <img src="../assets/img/icon/money.png" alt="img">
                        </div>
                        <div class="about_top_boxed_text">
                            <p>Fund raise</p>
                            <h3>Collect fund and support people</h3>
                            <a href="faqs.html">Learn more...</a>
                        </div>
                        <div class="about_top_boxed_vector">
                            <img src="../assets/img/icon/round.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="about_top_boxed bg_two">
                        <div class="about_top_boxed_icon">
                            <img src="../assets/img/icon/setting.png" alt="img">
                        </div>
                        <div class="about_top_boxed_text">
                            <p>Administration</p>
                            <h3>Ask anything about administrations </h3>
                            <a href="faqs.html">Learn more...</a>
                        </div>
                        <div class="about_top_boxed_vector">
                            <img src="../assets/img/icon/round.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="about_top_boxed bg_three">
                        <div class="about_top_boxed_icon">
                            <img src="../assets/img/icon/hand-round.png" alt="img">
                        </div>
                        <div class="about_top_boxed_text">
                            <p>Volunteer</p>
                            <h3>Ask your anything about volunteer</h3>
                            <a href="faqs.html">Learn more...</a>
                        </div>
                        <div class="about_top_boxed_vector">
                            <img src="../assets/img/icon/round.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faqs_arae_main" class="section_padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faqs_area">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Mauris blandit aliquet elit
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        lacinia in, elementum id enim
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        id orci porta dapibus
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Nulla porttitor accumsan tincidunt
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faqs_area">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOneright">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOneright" aria-expanded="true">
                                        Mauris blandit aliquet elit
                                    </button>
                                </h2>
                                <div id="collapseOneright" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOneright" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTworight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTworight" aria-expanded="false"
                                        aria-controls="collapseTworight">
                                        lacinia in, elementum id enim
                                    </button>
                                </h2>
                                <div id="collapseTworight" class="accordion-collapse collapse"
                                    aria-labelledby="headingTworight" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThreeright">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThreeright" aria-expanded="false"
                                        aria-controls="collapseThreeright">
                                        id orci porta dapibus
                                    </button>
                                </h2>
                                <div id="collapseThreeright" class="accordion-collapse collapse"
                                    aria-labelledby="headingThreeright" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFourright">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFourright" aria-expanded="false"
                                        aria-controls="collapseThreeright">
                                        Nulla porttitor accumsan tincidunt
                                    </button>
                                </h2>
                                <div id="collapseFourright" class="accordion-collapse collapse"
                                    aria-labelledby="headingFourright" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <p>
                                            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id
                                            orci porta dapibus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 

    <!-- Footer -->
 


    <!-- Footer Area -->



        <div id="footer-placeholder"></div>





    <!-- /Footer Area -->






    <!-- Top To Bottom Area -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <!-- Meanu js -->
    <script src="../assets/js/jquery.meanmenu.js"></script>
    <!-- owl carousel js -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <!-- wow.js -->
    <script src="../assets/js/wow.min.js"></script>
    <!-- waypoints.js -->
    <script src="../assets/js/waypoints.min.js"></script>
    <!-- counterup.js -->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <!-- Custom js -->
    <script src="../assets/js/custom.js"></script>




<script>
    // Load header from the shared folder
    fetch('../shared/header.jsp')
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);

    // Load footer from the shared folder
    fetch('../shared/footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
</script>


    
</body>

</html>