<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>News - Sahayta Foundation </title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="../assets/css/fontawesome.all.min.css" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css" />
    <!-- navber css -->
    <link rel="stylesheet" href="../assets/css/navber.css" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="../assets/css/meanmenu.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
</head>

<body>
    <!-- Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area -->




        <div id="header-placeholder"></div>



<!-- /Header Area -->


    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner Area -->
    <section id="common_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="commn_banner_page">
                        <h2><span class="color_big_heading">News</span></h2>
                        <ul class="breadcrumb_wrapper">
                            <li class="breadcrumb_item"><a href="index.jsp">Home</a></li>
                            <li class="breadcrumb_item"><img src="../assets/img/icon/arrow.png" alt="img"></li>
                            <li class="breadcrumb_item active">News</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News Area -->
    <section id="main_blog_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="section_heading">
                        <h3>Our latest news</h3>
                        <h2>Read and <span class="color_big_heading">explore</span> your
                            knowledge through our news
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog_card_wrapper">
                        <div class="blog_card_img">
                            <a href="news-details.html"><img src="../assets/img/causes/cause1.1.jpg" alt="img"></a>
                        </div>
                        <div class="blog_card_text">
                            <div class="blog_card_tags">
                                <a href="news-details.html">#FoodCamp</a>
                            </div>
                            <div class="blog_card_heading">
                                <h3><a href="news-details.html">Healthy food and nutritions awreness campaign
                                        december</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod...</p>
                            </div>
                            <div class="blog_boxed_bottom_wrapper">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/cal.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>Date:</h5>
                                                <p>20 Dec, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed blog_left_padding">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/user.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>By:</h5>
                                                <p>Admin</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_two_wrapper mt-30">
                        <a href="news-details.html"><img src="../assets/img/blog/blog-1-long.png" alt="img"></a>
                        <div class="news_two_text">
                            <a href="news-details.html">#Work</a>
                            <h3><a href="news-details.html">“Work for food” programme for
                                    the elder people</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_two_wrapper">
                        <a href="news-details.html"><img src="../assets/img/blog/blog_small-1.png" alt="img"></a>
                        <div class="news_two_text">
                            <a href="news-details.html">#WomenRights</a>
                            <h3><a href="news-details.html">Stop early marriage and educate your girl child</a></h3>
                        </div>
                    </div>
                    <div class="blog_card_wrapper mt-30">
                        <div class="blog_card_img">
                            <a href="news-details.html"><img src="../assets/img/causes/cause2.1.jpg" alt="img"></a>
                        </div>
                        <div class="blog_card_text">
                            <div class="blog_card_tags">
                                <a href="news.html">#Habitation</a>
                            </div>
                            <div class="blog_card_heading">
                                <h3><a href="news-details.html">Arrange rehabitation facility for the homeless
                                        people</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod...</p>
                            </div>
                            <div class="blog_boxed_bottom_wrapper ">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/cal.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>Date:</h5>
                                                <p>20 Dec, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed blog_left_padding">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/user.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>By:</h5>
                                                <p>Admin</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_two_wrapper mt-30">
                        <a href="news-details.html"><img src="../assets/img/blog/blog_small-2.png" alt="img"></a>
                        <div class="news_two_text">
                            <a href="news-details.html">#Education</a>
                            <h3><a href="news-details.html">Give children a good education
                                    &amp; better life</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_card_wrapper">
                        <div class="blog_card_img">
                            <a href="news-details.html"><img src="../assets/img/blog/blog-3.png" alt="img"></a>
                        </div>
                        <div class="blog_card_text">
                            <div class="blog_card_tags">
                                <a href="news.html">#Water</a>
                            </div>
                            <div class="blog_card_heading">
                                <h3><a href="news-details.html">Ensure pure and mineral drinking
                                        water for rural people</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod...</p>
                            </div>
                            <div class="blog_boxed_bottom_wrapper">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/cal.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>Date:</h5>
                                                <p>20 Dec, 2021</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="blog_bottom_boxed blog_left_padding">
                                            <div class="blog_bottom_icon">
                                                <img src="../assets/img/icon/user.png" alt="icon">
                                            </div>
                                            <div class="blog_bottom_content">
                                                <h5>By:</h5>
                                                <p>Admin</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_two_wrapper mt-30">
                        <a href="news-details.html"><img src="../assets/img/blog/blog-2-long.png" alt="img"></a>
                        <div class="news_two_text">
                            <a href="news-details.html">#Cloths</a>
                            <h3><a href="news-details.html">Give 10,000+ cloths to the street
                                    children</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

   

    <!-- Footer -->



        <div id="footer-placeholder"></div>





    <!-- /Footer Area -->




 

    <!-- Top To Bottom Area -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>

    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <!-- Meanu js -->
    <script src="../assets/js/jquery.meanmenu.js"></script>
    <!-- owl carousel js -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <!-- wow.js -->
    <script src="../assets/js/wow.min.js"></script>
    <!-- waypoints.js -->
    <script src="../assets/js/waypoints.min.js"></script>
    <!-- counterup.js -->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <!-- Custom js -->
    <script src="../assets/js/custom.js"></script>
    


<script>
    // Load header from the shared folder
    fetch('../shared/header.jsp')
      .then(response => response.text())
      .then(data => document.getElementById('header-placeholder').innerHTML = data);

    // Load footer from the shared folder
    fetch('../shared/footer.html')
      .then(response => response.text())
      .then(data => document.getElementById('footer-placeholder').innerHTML = data);
</script>



    
</body>

</html>